In [4]:
import pandas as pd
plt_nutrition = pd.read_csv('FoodPlantsInternationalNutritionalData.csv')
plt_nutrition.columns = ['common_name','scientific_name','family','edible_part','moisture','Energy_KJ','Energy_KCal','Protein','Provit_A','Vit_C','Iron','Zinc']
plt_nutrition.head()

,common_name,scientific_name,family,edible_part,moisture,Energy_KJ,Energy_KCal,Protein,Provit_A,Vit_C,Iron,Zinc
0,NaN,NaN,NaN,Fruit,NaN,-,-,-,-,-,-,-
1,NaN,NaN,NaN,Root,NaN,-,-,-,-,-,-,-
2,"Aibika, Edible Hibiscus,",Abelmoschus manihot,Malvaceae,Leaves,88.0,120,29,3.4,1.0,7.0,1.5,1.2
3,NaN,NaN,NaN,Flower buds,NaN,-,-,-,-,-,-,-
4,"Musk mallow, Bush carrot,",Abelmoschus moschatus,Malvaceae,Seeds,11.4,-,-,2.3,-,-,-,-